.form {
    border: 5px solid rgb(20, 15, 15);
    border-radius: 6px;
    width: 90%;
    height: 90px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #7bb6d3;
    resize: none;
    color: black;
    font-weight: bold;
    font-size: large;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 6%;
  }
  .style {
    border: 3px solid rgb(20, 15, 15);
    border-radius: 6px;
    margin-left: 3px;
    margin-right: 40px;
  }
  
  .btn {
    border: 3px solid rgb(20, 15, 15);
    background-color: white;
    color: black;
    border: 3px solid #1a1b1a;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 6px;
  }
  .btn:hover {
    background-color: #0c0c0c;
    color: white;
  }
  .premiumbtn {
    border: 3px solid rgb(20, 15, 15);
    background-color: white;
    color: black;
    border: 3px solid #1a1b1a;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .premiumbtn:hover {
    background-color: #302f2f;
    color: white;
  }
  .dark {
    background-color: black;
    color: white;
  }
  .csvBtn {
    margin-left: 4rem;
    margin-top: 2rem;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    border: 2px solid black;
  }
  .csvBtn:hover {
    background-color: #7bb6d3;
    color: white;
  }